- name: Setup reverse proxy with Podman
  hosts: reverse_proxies
  become: true
  vars:
    default_proxy:
      host: "10.0.2.218"
      port: 8080
    services:
      # - name: "nginx-proxy"
      #   image: "nginx:latest"
      #   ports:
      #     - "80:80"
      #   environment:
      #     - "NGINX_HOST=example.com"
      #     - "NGINX_PORT=80"
  pre_tasks:
    - name: Retrieve Terraform outputs as JSON
      command: terraform output -json
      delegate_to: localhost
      args:
        chdir: ".."
      register: tf_output_raw

    - name: Set management IP fact from Terraform output
      set_fact:
        mgmt_ip: "{{ (tf_output_raw.stdout | from_json)['mgmt_private_ip']['value'] }}"
  roles:
    - reverse_proxy
